# Run `brew install tmuxinator` (mac)
# Move this into your ~/.config/tmuxinator dir and run using `tmuxinator deepwork`
# Change the root path below to your system


name: deepwork
root: ~/Documents/code/deep-work

windows:
  - deepwork-dev:
      layout: main-horizontal
      panes:
        - pane1: # Docker Services
            - docker-compose up --build

        - pane2: # Git and System Monitoring
            - watch -n 10 'docker ps --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'

        - pane3: # Code Editor
            - code deepwork.code-workspace
            - sleep 5 # Wait for server to start
            - open http://localhost:3000/
            - clear