# Download direnv `brew install direnv` (mac)
# Direnv will automatically set environment variables when entering a directory,
# it will also activate the python virtual-env
# Make a copy and change filename to `.envrc`
# You will be prompted to run `direnv allow` each time env-vars are changed
# Moving into the /backend directory will set the virtual-env and env-vars.

source venv/bin/activate

export DATABASE_HOST=db
export DATABASE_NAME=deepwork_db
export POSTGRES_USER=ethancavill
export POSTGRES_PASSWORD=password
export SECRET_KEY=
export ALGORITHM=
export API_KEY=
