@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.animate-countdown {
  animation-name: countdown;
  animation-timing-function: linear;
}

.zoom-transition {
  transition: all 0.3s ease-in-out;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Safari and Chrome */
}